
/* Navbar */
.navbar-brand {
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7)
}

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
}

.nav-link:hover::after{
    content:'';
    display: block;
    border-bottom: 3px solid #A32622;
    width: 50%;
    margin:auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

/*Button */
.button{
    text-transform: uppercase;
    border-radius: 40px;
    font-family: 'League Spartan', sans-serif;
}

/*Jumbotron */
.jumbotron {
    padding-top: 2rem;
    background-color: #FDD7D7;
    font-family: 'League Spartan', sans-serif;
}
/*about */
#About {
    background-color: #Ffff;
    font-family: 'League Spartan', sans-serif;
}

